@use "mixins.scss" as *;
@use "fonts.scss" as *;
$fontFamily: "Segoe";
$fontFamilyConsolas: "Consolas";
$fontSize: toRem(15);

:root {
  @mixin changeToDef () {
    --text-color: #202020;
    --bg-color: #FCFCFC;
    --bg-color2: #F5F5F5;
    --yellow-color: #D1AA2B;
    --bg-teritary: #E8E8E8;
    --bg-quaternary: #F0F0F0;
    --white-color: #fff;
    --black-color: #000;
    --black-color-six: rgba(0, 0, 0, 0.64);
  }

  @mixin changeToDark () {
    --bg-color: #030303;
    --bg-color2: #1a1a1a;
    --text-color: #dfdfdf;
    --bg-teritary: #171717;
    --bg-quaternary: #0f0f0f;
    --white-color: #000;
    --black-color: #ffffff;
    --black-color-six: rgba(255, 255, 255, 0.64);
  }

  @media (prefers-color-scheme: light) {
    @include changeToDef();

    &:has(.dark) {
      @include changeToDark();
    }

    @supports not selector(:has(a, b)) {
      .app.dark {
        @include changeToDark();
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    @include changeToDark();

    &:has(.light) {
      @include changeToDef();
    }

    @supports not selector(:has(a, b)) {
      .app.light {
        @include changeToDef();
      }
    }
  }

  // @media (prefers-color-scheme: dark) {
  //   @include changeToDark();
  // }

  // &:has(.dark) {
  //   @include changeToDark();
  // }

  // @supports not selector(:has(a, b)) {
  //   .app.dark {
  //     @include changeToDark();
  //   }
  // }
}


$mainColor: var(--text-color);
$bgColor: var(--bg-color);
$bg2Color: var(--bg-color2);
$bgTertiaryColor: var(--bg-teritary);
$bgQuaternaryColor: var(--bg-quaternary);
$whiteColor: var(--white-color);
$blackColor: var(--black-color);
$blackColorSix: var(--black-color-six);
$dividedColor: var(--bg-teritary);
$divided2Color: #D1D5DB;
$grayColor: #4B5563;
$gray2Color: #6B7280;
$gray3Color: #9CA3AF;
$greenColor: #15803D;
$blue3Color: #436F5E;
$yellowColor: var(--yellow-color);


$easeInOutCubic: cubic-bezier(0.65, 0, 0.35, 1);

// Брейк-поинты
$md0: em($maxWidth - 0.02); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$md1: em($containerWidth - 0.02); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$md2: em($tablet - 0.02); // Планшеты, некоторые телефоны в горизонтальном положении
$md3: em($mob - 0.02); // Телефоны L
$md4: em($mobSmall - 0.02); // Телефоны S
//====================================================================================================
// Header options
$headerHeight: 50;
$headerMobHeight: 50;