@use "@/shared/assets/scss/abstract" as *;


.works-main {

  // .works-main__top
  &__top {
    margin: toRem(0) toRem(0) toRem(28) toRem(0);

    // .works-main__top-title
    &-title {
      @extend .text;
      font-weight: 600;
      color: $gray2Color;
      margin: toRem(0) toRem(0) toRem(17) toRem(0);
    }

    // .works-main__top-columns
    &-columns {
      display: flex;
      gap: toRem(20);

    }

    // .works-main__top-column
    &-column {
      flex: 0 0 50%;

      // .works-main__top-column-title
      &-title {
        @extend .text;
        font-weight: 600;
      }

      // .works-main__top-column-text
      &-text {
        @extend .text3;
        color: $gray2Color;
      }
    }

  }



  // .works-main__projects
  &__projects {}
}

.projects-works-main {

  // .projects-works-main__block
  &__block {


    // .projects-works-main__block-wrapper
    &-wrapper {
      border: toRem(1) solid $dividedColor;
      border-radius: toRem(16);
    }

    &:not(:last-child) {
      margin-bottom: toRem(28);
    }
  }

  // .projects-works-main__item
  &__item {
    display: block;
    padding: toRem(4);
    background-color: $bgColor;
    border-radius: toRem(16);

    @media (any-hover: hover) {
      transition: transform 0.3s ease 0s;

      &:hover {
        transform: scale(0.98);
      }
    }
  }

  // .projects-works-main__image
  &__image {
    position: relative;
    @include overflow-hidden-strict;
    border-radius: toRem(12);

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: percent(263, 472);
      bottom: 0;
      left: 0;
      pointer-events: none;
      background: linear-gradient(360deg, $blackColorSix 0%, transparent 100%);
      // background: linear-gradient(360deg, $blackColorSix 0%, rgba(0, 0, 0, 0) 100%);
      z-index: 2;
    }
  }

  // .projects-works-main__image-body
  &__image-body {
    @extend .ibg;
    z-index: -1;
    padding-bottom: percent(472, 588);

    .dark & {
      filter: grayscale(1) invert(1);
    }
  }

  // .projects-works-main__image-info
  &__image-info {
    @extend .text;
    @extend .text_2;
    position: absolute;
    z-index: 3;
    width: 100%;
    bottom: 0;
    left: 0;
    color: $whiteColor;
    padding: toRem(10) toRem(16);
    display: flex;
    justify-content: space-between;
  }

  // .projects-works-main__name
  &__name {}

  // .projects-works-main__date
  &__date {
    opacity: 0.56;
  }

  // .projects-works-main__button
  &__button {
    margin: toRem(4) toRem(0) toRem(0) toRem(0);
  }

  // .projects-works-main__button-body
  &__button-body {
    @extend .text;
    @extend .text_2;
    font-weight: 600;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: toRem(7) toRem(20);
    background-color: $bgQuaternaryColor;
    border-radius: toRem(10);
    color: $mainColor;
  }
}